<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Event Management</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h2>Manage & Create Events Here !!!!</h2>
    <%- include('./partials/script') %>
</body>
</html>